.container-about-me {
    background-color: #323946;
    color: #fff;
    padding-top: 79px;
    // max-width: 1920px;
    padding-bottom: 204px;
}

.about-me h2 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #fff;
    margin-bottom: 137px;
    margin-left: 97px;
}

.about-me h2 span {
    color: #00EEFF;
}

.about-content {
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: auto;
    padding: 0 40px;
}

.about-avatar {
    text-align: center;
    position: relative;
}

.about-avatar img {
    position: absolute;
    bottom: 55%;
    left: 45px;
}

.sub-avatar {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 9px;
    width: 355px;
    height: 363px;
    background-color: #00EEFF;
}

.sub-avatar h6 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
}

.sub-avatar p {
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    color: #323946;
}

.about-resume {
    margin-left: 97px;
}

.about-menu ul {
    display: flex;
    gap: 52px;
    list-style-type: none;
    padding-bottom: 50px;
}

.about-menu ul a {
    text-decoration: none;
    color: #FFFFFF;
}

.about-menu ul a:hover {
    color: #00EEFF;
    border-bottom: solid 2px #00EEFF;
}

.about-desc {}

.about-desc h4 {
    color: #00EEFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
}

.about-desc p {
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}