.my-services {
    text-align: center;
    background-color: #323946;
    // max-width: 1920px;
    margin: auto;
    padding-bottom: 208px;
}

.my-services h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #fff;
    padding-top: 114px;
    padding-bottom: 106px;
}

.my-services h3 span {
    color: #00EEFF;
}

.container {
}
.container-my-services {
    max-width: 1200px;
    margin: auto;
    padding: 0 40px;
    display: flex;
    gap: 15px;
}

.card {
    background-color: rgba(31, 36, 45, 0.8);
    border: transparent;
    border-radius: 16px;
    width: 385px;
    height: 484px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    // gap: 33px;
}

.card:hover {
    border: solid 2px #00EEFF;

}

.services-img {
    width: 94px;
    height: 94px;
    text-align: center;
}

.card h6 {
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    color: #00EEFF;
}

.card p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding-left: 19px;
    padding-right: 19px;
}

.design {
}
.btn {
}
.btn-services {
    width: 288px;
    height: 35px;
    border: transparent;
    border-radius: 20px;
    background-color: #fff;
    color: #323946;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
}

.btn-services:hover {
    background-color: #00EEFF;
    color: #fff;
}

.development {
}
.graphic {
}