
/* progress-bar.component.css */
.progress-bar-container {
    max-width: 1200px;
    margin: auto;
    width: 411px;
    height: 23px;
    background-color: #323946;
    border-radius: 20px;
    position: relative;
}

p {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: end;
    padding-right: 25px;
    z-index: 10;
}

.progress-bar {
    height: 100%;
    border-radius: 20px;
    background-color: rgba(0, 238, 255, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}


