.my-portfolio {
    // max-width: 1920px;
    margin: auto;
    background-color: rgba(31, 36, 45, 1);
}

.my-portfolio h3 {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    padding-top: 133px;
    padding-bottom: 127px;
}

.my-portfolio h3 span {
    color: rgba(0, 238, 255, 1);
}

.container {}

.my-portfolio-container {
    max-width: 1200px;
    margin: auto;
    padding-bottom: 133px;
}

.cards {
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.card {
    border-radius: 16px;
    width: 354px;
    height: 259px;
    position: relative;
}

.card img {
    width: 354px;
    height: 259px;
    border-radius: 16px;
}

.gradient {
    width: 354px;
    height: 259px;
    border-radius: 16px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.gradient:hover {
    background: linear-gradient(180deg, #00EEFF 0%, rgba(255, 255, 255, 0) 100%);
    width: 354px;
    height: 259px;
    border-radius: 16px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.gradient:hover::before {
    content: 'Web Design';
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #fff;
    margin-top: 15%;
    padding-bottom: 22px;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.gradient:hover::after {
    content: '';
    background-image: url("../../../assets/icons/select-portfolio.png");
    width: 84px;
    height: 84px;
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 35%;
    right: 0;
    z-index: 10;
}

// .gradient p {
//     font-weight: 700;
//     font-size: 28px;
//     line-height: 36px;
//     color: transparent;
//     margin-top: 15%;
//     padding-bottom: 22px;
//     text-align: center;
// }

// .gradient p:hover {
//     font-weight: 700;
//     font-size: 28px;
//     line-height: 36px;
//     color: #fff;
//     margin-top: 15%;
//     padding-bottom: 22px;
//     text-align: center;
// }

// .gradient img {
//     width: 58px;
//     height: 58px;
//     margin-left: 40%;
// }